### Set default parameters

### Download location
dllocation="$HOME/phmedia"

### The amount of last uploaded videos to get
lastvideos=4

### youtube-dl settings
ytdlsetts="-w -v -i --external-downloader aria2c --external-downloader-args '--file-allocation=none -c -j 10 -x 16 --summary-interval=0'"
